{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 5%"
          ],
          "uglify": true
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-classes"
  ]
}
